.container {
  background-color: yellow;
  width: 700px;
  height: 300px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.item {
  width: 100px;
  height: 100px;
  background-color: purple;
  list-style-type: none;
}