.container {
  background-color: yellow;
  width: 700px;
  height: 300px; 
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  padding: 0;
}

.item {
  margin: 0 0 0 10px;
  width: 100px;
  height: 100px;
  background-color: purple;
  list-style-type: none;
}